* {
    box-sizing: border-box;
    font-family: "Museo Sans", cursive;
}

.container {
    max-width: 1010px;
    padding: 0 30px 0 30px;
    margin: 0 auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-main-red;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.2s;
    text-transform: uppercase;
    cursor: pointer;

    @include hover-desktop(767) {
        background-color: $color-main-red-hover;
    }
}

.section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    color: #0d0d0d;
    text-transform: uppercase;
    margin: 0;

    @media (max-width: 425px) {
        font-size: 20px;
    }
}

.form {
    @media (max-width: 425px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__input-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 12px;

        &:first-child {
            margin-top: 0px;
        }
        &:last-child {
            margin-top: 17px;
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    input {
        padding: 0 21px;
        width: 303px;
        height: 54px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        background-color: #fff;
        color: $color-main-back;
        &::placeholder {
            color: #4b4b4b;
        }
    }
    input.error {
        border: 2px solid $color-main-red-hover;
    }

    label.error {
        position: relative;
        background-color: #ffc618;
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 10px;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-top-width: 8px;
            border-bottom-width: 8px;
            border-right: 16px solid #ffc618;
        }

        @media (max-width: 768px) {
            width: 303px;
            margin-top: 8px;
            margin-left: 0;
            &::before {
                content: "";
                position: absolute;
                top: -8px;
                transform: translateY(0);
                left: 16px;
                border: 0 solid transparent;
                border-right-width: 8px;
                border-left-width: 8px;
                border-bottom: 8px solid #ffc618;
            }
        }
    }

    #consultation & label.error,
    #order & label.error {
        width: 303px;
        margin-top: 8px;
        margin-left: 0;
        &::before {
            content: "";
            position: absolute;
            top: -8px;
            transform: translateY(0);
            left: 16px;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-right-width: 8px;
            border-left-width: 8px;
            border-bottom: 8px solid #ffc618;
        }
    }

    button {
        width: 303px;
        height: 58px;
        border: none;
        color: #fff;
    }

    &_modal {
        margin-top: 14px;
    }

    &_modal &__input-wrapper {
        display: flex;
        justify-content: center;
    }
}

@keyframes fide-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
