* {
    box-sizing: border-box;
    font-family: "Museo Sans", cursive;
}

.container {
    max-width: 1010px;
    padding: 0 30px 0 30px;
    margin: 0 auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-main-red;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.2s;
    text-transform: uppercase;
    cursor: pointer;

    @include hover-desktop(767) {
        background-color: $color-main-red-hover;
    }
}

.section-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    color: #0d0d0d;
    text-transform: uppercase;
    margin: 0;

    @media (max-width: 425px) {
        font-size: 20px;
    }
}

.form {
    @media (max-width: 425px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__input-wrapper {
        margin-top: 12px;

        &:first-child {
            margin-top: 0px;
        }
        &:last-child {
            margin-top: 17px;
        }
    }
    input {
        padding: 0 21px;
        width: 303px;
        height: 54px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        background-color: #fff;
        color: $color-main-back;
        &::placeholder {
            color: #4b4b4b;
        }
    }
    button {
        width: 303px;
        height: 58px;
        border: none;
        color: #fff;
    }

    &_modal {
        margin-top: 14px;
    }

    &_modal &__input-wrapper {
        display: flex;
        justify-content: center;
    }
}

@keyframes fide-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
