* {
    box-sizing: border-box;
    font-family: "Museo Sans", cursive;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-main-red;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.2s;
    cursor: pointer;

    @include hover-desktop(767) {
        background-color: $color-main-red-hover;
    }
}
