.advantages {
    padding: 73px 0 65px 0;
    background: #f6f6f6;

    @media (max-width: 425px) {
        padding: 50px 0 46px 0;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        @media (max-width: 425px) {
            margin-top: 30px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 270px;
        margin: 0 15px 0 15px;

        @media (max-width: 768px) {
            flex-basis: auto;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__item-icon {
        width: 70px;
        height: 70px;
    }

    &__item-title {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px / 18px * 100%;
        text-align: center;
        color: $color-main-back;
        @media (max-width: 768px) {
            margin-top: 10px;
        }
    }

    &__item-text {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px / 14px * 100%;
        text-align: center;
        span {
            color: red;
            text-decoration: underline;
            text-transform: uppercase;
        }
        @media (max-width: 768px) {
            margin-top: 10px;
        }
    }
}
