.consultation {
    padding: 100px 0 92px 0;
    background-image: url(../img/bg-form.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 425px) {
        padding: 50px 0 46px 0;
    }

    &__title {
        font-weight: bold;
        text-align: left;
        color: $color-wihte;
        line-height: 150%;

        @media (max-width: 425px) {
            text-align: center;
            font-size: 20px;
        }
    }

    &__subtitle {
        margin-top: 8px;
        color: $color-wihte;
        font-weight: 300;
        font-size: 20px;
        line-height: 150%;
        @media (max-width: 425px) {
            text-align: center;
            font-size: 16px;
        }
    }

    &__form {
        margin-top: 36px;
    }
}
