.footer {
    position: relative;
    color: $color-wihte;

    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 460px;
        padding: 50px 68px 60px 68px;
        background-color: $color-main-red;

        @media (max-width: 768px) {
            width: 100%;
        }
        @media (max-width: 425px) {
            width: 100%;
            padding: 50px 34px 60px 34px;
        }
    }

    &__address {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 142%;
        text-align: center;
        margin-bottom: 38px;
    }

    &__tel {
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        text-decoration: none;
        color: inherit;
        margin-bottom: 38px;
    }

    &__socila {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__solcial-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 52px;
        background-color: transparent;
        border: 2px solid $color-wihte;
        border-radius: 50%;
        text-decoration: none;
        font-size: 24px;
        margin-right: 27px;
        transition: all 0.3s;
        &::before {
            transition: all 0.3s;
        }
        &:last-child {
            margin-right: 0;
        }

        @include hover-desktop(768) {
            background-color: $color-wihte;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            &::before {
                color: $color-main-red-hover;
            }
        }
    }
}
