.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(#000000, 0.56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 382px;
    background-color: #f2f2f2;
    padding: 35px 25px 40px 25px;

    &__subtitle {
        font-weight: 700;
        font-size: 19px;
        line-height: 100%;
        text-align: center;
        color: $color-main-back;
    }

    &__descr {
        width: 100%;
        margin-top: 10px;
        font-weight: bold;
        font-size: 14px;
        line-height: 100%;
        text-align: center;

        color: $color-main-back;
    }

    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 40px;
        line-height: 20px;
        color: $color-main-red;
        cursor: pointer;

        @media (max-width: 768px) {
            top: 8px;
            right: 8px;
        }
    }
}

#consultation,
#order,
#thanks {
    display: none;
}
