.promo {
    padding: 21px 0 93px 0;
    background-image: url(../img/bg-promo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: $color-wihte;

    @media (max-width: 768px) {
        padding-bottom: 46px;
    }

    &__title {
        margin-top: 90px;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 42px;
        line-height: 100%;
        text-align: right;
        text-transform: uppercase;

        @media (max-width: 768px) {
            text-align: center;
        }
        @media (max-width: 425px) {
            font-size: 34px;
            margin-top: 70px;
        }
    }

    &__subtitle {
        margin-top: 17px;
        font-weight: 300;
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
        text-align: right;

        @media (max-width: 768px) {
            text-align: center;
        }
        @media (max-width: 425px) {
            font-size: 20px;
        }
    }

    &__offers-wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 768px) {
            justify-content: center;
            align-items: flex-start;
        }
    }

    &__offers-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
        width: 130px;
        &:first-child {
            margin-left: 0;
        }
    }

    &__offers-icon {
        margin: 0 auto;
        height: 46px;
        width: 42px;

        img {
            width: 100%;
        }
    }

    &__offers-descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
    }

    &__btn {
        margin: 66px 0 0 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px / 16px * 100%;
        max-width: 300px;
        height: 50px;
        text-transform: uppercase;
        @media (max-width: 768px) {
            margin-right: auto;
        }
    }

    &__more {
        margin-top: 10px;

        text-align: right;

        @media (max-width: 768px) {
            text-align: center;
        }

        a {
            color: inherit;
            text-decoration: underline;
            transition: color 0.3s;
            margin-left: 0.3rem;

            @include hover-desktop(768) {
                color: $color-main-red;
            }
        }
    }
}
