.watch-slider {
    padding: 80px 0 40px 0;

    @media (max-width: 768px) {
        padding: 50px 0 20px 0;
    }

    &__wrapper {
        width: 100%;
    }

    &__content {
        position: relative;
        max-width: 750px;
        margin: 0 auto;

        @media (min-width: 768px) {
            width: 70%;
        }
    }

    &__content-item {
        position: relative;
        height: 0;
        padding-bottom: 77.334%;
    }

    &__content-img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        &_prev {
            left: -84px;
        }
        &_next {
            transform: translateY(-50%) rotate(180deg);
            right: -84px;
        }
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-bottom: 0;

        li {
            list-style: none;
            margin: 0 10px;
        }

        button {
            font-size: 0;
            width: 10px;
            height: 10px;
            border: 2px solid $color-main-red;
            background-color: #fff;
            padding: 0;
            border-radius: 50%;
            outline: none;
            transition: 0.2s;
        }

        li.slick-active button {
            background-color: $color-main-red;
        }
    }
}
