.watch-slider {
    padding: 80px 0 40px 0;

    @media (max-width: 425px) {
        padding: 50px 0 46px 0;
    }

    &__wrapper {
        width: 100%;
        min-width: 0;
    }

    &__arrow {
        cursor: pointer;
        padding-right: 15px;
        &_next {
            transform: rotate(180deg);
        }
    }

    &__content {
        @media (min-width: 769px) {
            display: flex;
            align-items: center;
        }
    }

    &__item {
        border: 1px solid transparent; // ! Кастыль который позволяет работать слайдеру =)

        picture {
            display: block;
            position: relative;
            max-width: 750px;
            margin: 0 auto;
            height: 0;
            padding-bottom: 61.422%;
        }
    }

    &__item-img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-bottom: 0;

        li {
            list-style: none;
            margin: 0 10px;
        }

        button {
            font-size: 0;
            width: 10px;
            height: 10px;
            border: 2px solid $color-main-red;
            background-color: #fff;
            padding: 0;
            border-radius: 50%;
            outline: none;
            transition: 0.2s;
        }

        li.slick-active button {
            background-color: $color-main-red;
        }
    }
}
