.watch-slider {
    padding: 40px 0;

    // &__wrapper {
    // }

    &__arrow {
        cursor: pointer;
        padding-right: 15px;
        &_next {
            transform: rotate(180deg);
        }
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__item {
        picture {
            position: relative;
            display: flex;
            align-items: center;
            max-width: 750px;
            margin: 0 auto;
            padding: 0 0 61.422% 0;

            img {
                position: absolute;
                object-fit: contain;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__item-img {
        display: block;
        margin: 0 auto;
    }
}
