// NORMALIZE ==============================================
@import "../../node_modules/normalize-scss/sass/normalize/import-now";
// ========================================================
// LIBS ===================================================
@import "libs/slick.scss";
// ========================================================
// BASE ===================================================
@import "base/variables.scss";
@import "base/mixins.scss";
@import "base/fonts.scss";
@import "base/general.scss";
// ========================================================
// BLOCKS =================================================
@import "blocks/header.scss";
@import "blocks/promo.scss";
@import "blocks/advantages.scss";
@import "blocks/watch-slider.scss";
@import "blocks/consultation.scss";
@import "blocks/catalog.scss";
@import "blocks/reviews.scss";
// ========================================================
